<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.nectarpessoal"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Nectar Pessoal"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
